:local .container {
    border-radius: 2px;
    border: 1px solid grey;
    background-color: white;
    padding: 8px;
    min-height: 40px;
    margin-bottom: 8px;
    user-select: none;
    transition: background-color 0.1s ease;

    /* cursor: grabbing is handled by app */
    cursor: grab;
    /* anchor overrides */
    color: black;
    
    /* flexbox */
    display: flex;
    align-items: center;

    &:hover {
        color: black;
        text-decoration: none;
    }

    &:focus {
        outline: 2px solid purple;
        box-shadow: none;
    }
}

:local .container-dragging {
    background-color: green;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .3)
}